@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Virtual Journal</h1>
    <p>Learn about <a href="https://www.churchofjesuschrist.org/?lang=eng">Church of Jesus Christ of Latter Day Saints</a>.</p>
</div>
