@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.churchofjesuschrist.org/media/collection/feature-films?lang=eng">movies of the Church of Jesus Christ of Latter-Day Saints</a>.</p>
</div>
